<h1>{{ title }}</h1>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input
    type="email"
    required
    #name="ngModel"
    name="'name"
    placeholder="Enter Name"
    ngModel
  />
  <br />
  <span *ngIf="name.invalid && name.touched" style="color: red"
    >Pleas enter a Valid Input</span
  ><br />

  <br />
  <input
    type="Password"
    name="password"
    minlength="3"
    required
    #password="ngModel"
    placeholder="Enter Password"
    ngModel
  />
  <br />
  <span *ngIf="password.invalid && password.touched" style="color: red"
    >Pleas enter a Valid Input</span
  >
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
