<h2>Programming Books List!</h2>
<!-- <button
  (click)="handleClick()"
  (mouseover)="handleClick()"
  [disabled]="isDisabled"
>
  Show Books
</button> -->
<button (click)="isShowing = !isShowing">
  <ng-container *ngIf="!isShowing">Show Books</ng-container>
  <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>
<!-- "toggleBooks()" -->

<!-- <input type="text" (input)="handleInput($event)" /> -->
<!-- <input type="text" [(ngModel)]="myName" />
<div>{{ myName }}</div> -->
<ul *ngIf="isShowing">
  <!-- <li>
    {{ name }}
  </li>
  <li>
    {{ author }}
  </li> -->
  <!-- <img src="{{ src }}" alt="{{ name }}" width="100" />
  <li>{{ name }} by {{ author }}</li>
  <img src="{{ src2 }}" alt="{{ name2 }}" width="100" />
  <li>{{ name2 }} by {{ author2 }}</li> -->

  <ng-container *ngFor="let book of books; let i = index">
    <li>
      {{ i + 1 }}
      <img [src]="book.image" [alt]="book.name" width="100" />
      {{ book.name | titlecase }} by {{ book.author | titlecase }}
      <p>{{ book.amount | currency: "EUR" }}</p>
    </li>
  </ng-container>
  <!-- <img [src]="src2" [alt]="name2" width="100" />
  <li>{{ name2 }} by {{ author2 }}</li> -->
</ul>
