<h2>Programming Books List!</h2>
<button
  (click)="handleClick()"
  (mouseover)="handleClick()"
  [disabled]="isDisabled"
>
  Show Books
</button>
<ul>
  <!-- <li>
    {{ name }}
  </li>
  <li>
    {{ author }}
  </li> -->
  <!-- <img src="{{ src }}" alt="{{ name }}" width="100" />
  <li>{{ name }} by {{ author }}</li>
  <img src="{{ src2 }}" alt="{{ name2 }}" width="100" />
  <li>{{ name2 }} by {{ author2 }}</li> -->

  <img [src]="src" [alt]="name" width="100" />
  <li>{{ name }} by {{ author }}</li>
  <img [src]="src2" [alt]="name2" width="100" />
  <li>{{ name2 }} by {{ author2 }}</li>
</ul>
